*.iml
.idea/
.vscode/
.kotlin/
.gradle
/local.properties
/.gitdir
/.git_blocked
/.git_disabled
/.git_pointer_backup
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
